
<header class="top-header bg">
    <h1>The Book Store!</h1>
</header>
<div class="container-nav">
    <input type="checkbox" id="toggle-menu">
    <label for="toggle-menu" class="nav-icon">&#9776</label>
    <nav class="nav">
        <a class="nav-item">Home</a>
        <a class="nav-item">Books</a>
        <a class="nav-item">Magazines</a>
        <a class="nav-item">E-Books</a>
        <a class="nav-item">Account</a>
    </nav>
</div>
<div class="container">
    <section class="aside-box">
        <div>
            <h1>
                Featured
            </h1>
        </div>
        <aside  ng-repeat="book in books | limitTo: -2"  class="aside-book">
                
            <header class="aside-book-header">
                <div class="image-wrapper">
                    <img class="book-image" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}">
                </div>
                <div class="aside-book-info">
                    <div class="aside-book-header">
                        <h3 class="text-center">
                            {{book.volumeInfo.title}}
                        </h3>
                        <p class="text-center">
                            {{book.volumeInfo.subtitle}}
                        </p>
                    </div>
                    <div>
                        <h4 class="book-authors">
                            Authors:
                        </h4>   
                        <p class="book-author-name" ng-repeat="author in book.volumeInfo.authors">{{author}}</p>
                    </div>
                    <div class="page-count">
                        <span class="badge text-center">
                            {{book.volumeInfo.pageCount}}
                        </span>
                        <span>
                            pages
                        </span>
                    </div>
                </div>
            </header>
        
            <article class="aside-book-header">
                <header >
                    <h3>Description:</h3>
                </header>
                <div ng-init="limitText = 140" >
                    <p class="aside-book-text text-center">
                        {{book.volumeInfo.description | limitTo: limitText}}
                        <a href="javascript:void(0)" ng-hide="book.volumeInfo.description.length < limitText" ng-click="limitText = book.volumeInfo.description.length + 1" >
                            <span class="text-span">Read More...</span> 
                        </a>
                        <a href="javascript:void(0)" ng-hide="book.volumeInfo.description.length > limitText" ng-click="limitText = 140; scroll($index)">
                            <span>Read Less...</span>
                        </a>
                    </p>
                </div>
            </article>
    </section>
    <div class="book-container">
        <section class="book-box" ng-click="selection($index)" ng-repeat="book in books | limitTo: 8" id="book-{{$index}}">
                
            <header class="book-header">
                <div class="image-wrapper">
                    <img class="book-image" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}">
                </div>
                <div class="book-info">
                    <div>
                        <h3 class="book-title">
                            {{book.volumeInfo.title}}
                        </h3>
                        <p class="book-subtitle">
                            {{book.volumeInfo.subtitle}}
                        </p>
                    </div>
                    <div class="book-author-names">
                        <h4 class="book-authors">
                            Authors:
                        </h4>   
                        <p class="book-author-name" ng-repeat="author in book.volumeInfo.authors">{{author}}</p>
                    </div>
                    <div class="page-count">
                        <span class="badge">
                            {{book.volumeInfo.pageCount}}
                        </span>
                        <span>
                            pages
                        </span>
                    </div>
                </div>
            </header>
    
            <article class="book-body">
                <header >
                    <h3 class="description">Description:</h3>
                </header>
                <div ng-init="limitText = 140">
                    <p class="description-text">
                        {{book.volumeInfo.description | limitTo: limitText}}
                        <a href="javascript:void(0)" ng-hide="book.volumeInfo.description.length < limitText" ng-click="limitText = book.volumeInfo.description.length + 1" >
                            <span class="text-span">Read More...</span> 
                        </a>
                        <a href="javascript:void(0)" ng-hide="book.volumeInfo.description.length > limitText" ng-click="limitText = 140; scroll($index)">
                            <span>Read Less...</span>
                        </a>
                    </p>
                </div>
            </article>
        </section>
    </div>

</div>
